@import "tailwindcss";

@theme {
  --color-primary: #FA8112;
  --color-primary-foreground: #FFFFFF;

  --color-secondary: #1C293C;
  --color-secondary-foreground: #FFFFFF;

  --color-accent: #F5E7C6;
  --color-accent-foreground: #222222;

  --color-background: #F8F9FA;
  --color-foreground: #222222;

  --color-muted: #F5E7C6;
  --color-muted-foreground: #1C293C;
  
  --color-card: #FFFFFF;
  --color-card-foreground: #222222;

  --color-border: #1C293C;
}

/* Base styles to apply the theme */
:root {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

